pygame                                                            
gTTS                                                    
streamlit                                              
speech_recognition
numpy
pandas
